syntax: glob

__pycache__
*.py[cod]
*.pyc
.pyc

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.project
.pydevproject

# Django project template
# Uncomment after setting the project up is finished
# syntax: regexp
# ^logs/
^static/
locale/
media
gallery/settings/local.py
staticfiles
dev.yml
.env

